In [4]:
import json, os, pandas as pd, numpy as np, csv
import requests
import io
import tarfile
import zipfile
from datasets import load_dataset

### Load data for Hallucination Detection training

In [5]:
# Directory where the CSV files are stored
data_dir = os.path.join(os.path.dirname(os.getcwd()), 'data')

# List all CSV files in the directory
csv_files = [f for f in os.listdir(data_dir) if f.endswith('.csv')]

# Load all CSV files into a single DataFrame
df_list = []
for file in csv_files:
    file_path = os.path.join(data_dir, file)
    df = pd.read_csv(file_path)
    df_list.append(df)

# Concatenate all DataFrames
training_df = pd.concat(df_list, ignore_index=True)

# Display the first few rows of the combined DataFrame
training_df.head()

,id,grounding,generated_text,label,cut,dataset_origin
0,qags_xsum0,"A 12,000-seater music venue on the temple mead...","A 10,000-seater entertainment arena could be b...",0,val,qags_xsum
1,qags_xsum1,A 17th century pub in oxfordshire has been bou...,A pub in a devon village is to reopen as a fre...,0,val,qags_xsum
2,qags_xsum2,A 23-year-old man has died after being shot in...,A 25-year-old man has been shot dead in sheffi...,0,test,qags_xsum
3,qags_xsum3,A 52 million-year-old fruit fossil has been di...,The fossilised remains of a coal miner's apple...,0,val,qags_xsum
4,qags_xsum4,A 55-year-old woman has died after a couple be...,A woman has been seriously injured after a lor...,0,val,qags_xsum

In [6]:
# Get the counts of val and test data
val_test_spit = training_df['cut'].value_counts()

# Display the counts
print(val_test_spit)

print("val can be used for training the model and test can be used for evaluation the performance")

cut
val     83694
test    38682
Name: count, dtype: int64
val can be used for training the model and test can be used for evaluation the performance

In [7]:
# Get the counts by dataset origin
training_df['dataset_origin'].value_counts()

dataset_origin
Vitamin C     63054
HaluEval      20000
Fever         19998
PAWS           8000
XSumFaith      2353
SummEval       1698
FactCC         1434
FRANK          1393
Polytope       1268
Cao22           696
CLIFF           600
TofuEval        534
Wang20          474
samsum          250
qags_xsum       239
qags_cnndm      235
Goyal21         150
Name: count, dtype: int64